---
layout: archive
permalink: /year-archive/backup
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
<!-- 遍历所有的博客文章。 -->
{% for post in site.posts %}  
<!-- 从文章的日期中提取年份，并保存在变量 year 中 -->
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %} 
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
